# Load all the common extensions, while not all are used by all projects
# Its easier to ensure all are update-to-date.
includes:
    - ../../phpstan/phpstan-symfony/extension.neon
    - ../../phpstan/phpstan-doctrine/extension.neon
    - ../../phpstan/phpstan-phpunit/extension.neon
    - ../../jangregor/phpstan-prophecy/extension.neon
    - ../../phpstan/phpstan-phpunit/rules.neon

parameters:
    # Project should use the highest possible number, but can lower when needed
    level: 8
